[submodule "gfen-shinyapp"]
	path = gfen-shinyapp
	url = https://github.com/mauriciogtec/gfen-shinyapp
[submodule "GraphFusedElasticNet.jl"]
	path = GraphFusedElasticNet.jl
	url = https://github.com/mauriciogtec/GraphFusedElasticNet.jl
